body{
	/*background-color: papayawhip; */
	background-image: url(http://38ccda.medialib.glogster.com/media/5a8ea233e94fa0fedcf58bd6ee7c193b23a47e23ae12fd6997c527444762596d/freevector-flower-pattern-vector-background.jpg);
}
#title{
	text-align: center;
	font-size: 50px;
	font-family: 'Modak', cursive;
	color: #00E5FF;	
}
table{
	border-collapse: collapse; 
	border-spacing: 0; 
}
#grid{
	padding: 0px; 
	margin: 0 auto; 
	margin-top: 25px; 
}
#grid tr td { 
	width: 80px; 
	height: 80px; 
	border: 3px solid #1DE9B6; 
  /*font-family: Helvetica; */
  /*font-size: 30px; */
  /*text-align: center*/
}

#p1w{
	padding: 100px;
	color: 
}
.x{
	background-color: red;
	border-radius: 50%;
	width: 200px;
	height: 200px;
}
.o{
	background-color: black;
	border-radius: 50%;
	width: 200px;
	height: 200px;
}
/*#wrapper{
	margin: 8px auto 6px;
	width: 732px;
	position: relative;
}
#boardwrap{
	height: 624px;
	border: 2px solid gold;
	/*border-style: solid;*/
}
/*#rowwrap{
	width: 100px;
	height:100px;
	border:2px solid black;
	float: left;
	border-style: solid;
}
div.rowwrap{
	height: 104px;
}
div.rowwrap div {
	width: 100px;
	height: 100px;
	border: 2px solid gold;
	float: left;
	position: relative;
}*/